.card {
  margin: 0 2% !important;
}
@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
.subtitle {
  color: darkgrey;
  font-style: italic;
}

.subtitle span {
  color: black;
}
