.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.title {
  margin-top: 0px;
  padding: 0px;
}

.subtitle {
  padding-bottom: 25px;
  color: grey;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
