.container {
  display: flex;
  justify-content: center;
  color: blue;
  width: 100%;
  margin-top: 40px;
  font-size: 10px;
}

/* .container a {
  color: blue;
  text-emphasis: bold;
  text-decoration: none;
} */
