/* Credit to Matthias's codepen for the animated heart code - https://codepen.io/mfritsch/pen/xbJMaa */

.footer {
  /* background: #e9e9e9; */
  font-family: "Roboto", sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-size: 12px;
  display: block;
  position: relative;
  left: 5%;
  margin-top: 30px;
  transform: translateX(-50%) translateY(-50%);
}

.footer a {
  color: #000000;
  text-decoration: none;
}
.footer .fa {
  color: #e90606;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
